{% extends "base.html" %}

{% block title %}{{ concept }} - Snowflake Education{% endblock %}

{% block content %}
<div class="snowflake-logo-container">
    <img src="{{ url_for('static', filename='snowflake.png') }}" alt="Sněhová vločka" class="snowflake-logo">
</div>

<section class="intro">
    <h2>{{ concept }}</h2>
    <p>{{ description }}</p>
</section>

<section class="concepts">
    <h3>Další kroky</h3>
    <ul>
        {% for related_concept in concept_relations[concept] %}
            <li>
                <a href="{{ url_for('snowflake', concept=related_concept) }}" class="button">Co je to {{ related_concept }}?</a>
                {% if related_concept in explored %}
                    <span class="checkmark">✔</span>
                {% endif %}
            </li>
        {% endfor %}
        <li>
            <a href="{{ url_for('index') }}" class="button">Zpět na hlavní stránku</a>
        </li>
    </ul>
</section>
{% endblock %}
